# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.memories
*.csproj
*.sln
*.unityproj
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.exe
*.ds_store
*.suo
*.vs/
*.DotSettings.user
*.orig
*.unitypackage

# macOS
.DS_Store

# Rider / VS
.idea/
.vscode/
*.sln~
*.csproj.user

# Stray project files
odysseus/
mono_crash.*
*.blob
